.parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
}

.child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.input_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2em;
}

label {
    text-align: right;
    display: inline-block;
}

input {
    min-width: 80%;
    border-radius: 0.5em;
    color: #000;
    padding: 0 1em 0 1em;
    border: 2px solid #616161;
}

.btn {
    width: 30%;
    height: 3.5em;
    color: #000000;
    border: none;
    border-radius: 3em;
    font-size: 1.5em;
    font-weight: bold;
    transition: background-color ease-in-out 200ms;
    margin-bottom: 1em;
}

.btn:hover {
    background-color: #b8b8b8;
    color: #3d3d3d;
}

.btn_parent {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .parent {
        flex-direction: column !important;
        justify-content: center;
    }

    input {
        min-width: 50em;
    }

    .child {
        width: 100%;
    }
}

@media screen and (min-width: 800px) and (max-width: 991px) {
    .parent {
        flex-direction: column;
        justify-content: center;
    }

    input {
        min-width: 35em !important;
    }

    .child {
        width: 100%;
    }
}

@media screen and (min-width: 646px) and (max-width: 800px) {
    .parent {
        flex-direction: column !important;
        justify-content: center;
    }

    input {
        min-width: 30em;
    }

    .child {
        width: 100%;
    }
}

@media screen and (min-width: 486px) and (max-width: 645px) {
    .parent {
        flex-direction: column !important;
        justify-content: center;
    }

    input {
        min-width: 22em;
    }

    .child {
        width: 100%;
    }

    .btn {
        width: 30%;
    }
}

@media screen and (min-width: 421px) and (max-width: 485px) {
    .parent {
        flex-direction: column !important;
        justify-content: center;
    }

    input {
        min-width: 15em;
    }

    .child {
        width: 100%;
    }

    .btn {
        width: 100%;
    }

    .btn_parent {
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (min-width: 351px) and (max-width: 420px) {
    .parent {
        flex-direction: column !important;
        justify-content: center;
    }

    input {
        min-width: 20%;
    }

    .child {
        width: 100%;
    }

    .btn {
        width: 100%;
    }

    .btn_parent {
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 350px) {
    .parent {
        flex-direction: column !important;
        justify-content: center;
    }

    input {
        min-width: 5em;
    }

    .child {
        width: 100%;
    }

    .btn {
        width: 100%;
    }

    .btn_parent {
        flex-direction: column;
        justify-content: center;
    }
}
