
@{
    ViewBag.Title = "Index";
}

@section Styles {
    <link href="~/Styles/SaveListing.css" rel="stylesheet" type="text/css" />    
}

@using (Html.BeginForm())
{
<h1>Search for a Customer</h1>
<div class="parent">
    <div class="full_child">
        <div class="input_container">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" />
        </div>

        <div class="input_container">
            <label for="lastName">Last Name:</label>
            <input type="text" id="laastName" />
        </div>

        <div class="input_container">
            <label for="phoneNumber">Phone Number:</label>
            <input type="text" id="phoneNumber" />
        </div>

    </div>

</div>
<button type="submit" id="btn_Search">Search</button>
}
