@section Styles {
    <link href="~/Styles/AddImage.css" rel="stylesheet" type="text/css" />
}

@using (Html.BeginForm())
{
<h1>Add Images</h1>

<div id="container">
    <img src="pic_trulli.jpg" width="500" height="333" class="img">
    <img src="pic_trulli.jpg" width="500" height="333" class="img">
    <img src="pic_trulli.jpg" width="500" height="333" class="img">
    <img src="pic_trulli.jpg" width="500" height="333" class="img">
    <img src="pic_trulli.jpg" width="500" height="333" class="img">
    <img src="pic_trulli.jpg" width="500" height="333" class="img">
</div>

<div id="btn_container">
    <button type="submit" id="btn">Add Images</button>
    <button type="submit" id="btn">Cancel</button>
</div>
}
