@section Styles {
    <link href="~/Styles/SaveListingDetails.css" rel="stylesheet" type="text/css" />
}

@using (Html.BeginForm())
{   
    <h1>Edit Listing</h1>
    <div class="parent">
        <div class="child">
            <div class="input_container">
                <label for="streetAddress">Street Address:</label>
                <input type="text" id="streetAddress" />
            </div>

            <div class="input_container">
                <label for="description">Description:</label>
                <input type="text" id="description" />
            </div>
        </div>
    </div>
    <div class="btn_parent">
        <button align="right" type="submit" id="btn_Back" class="btn">Back</button>
        <button align="left" type="submit" id="btn_Add" class="btn">Add Images</button>
        <button align="center" type="submit" id="btn_Update" class="btn">Update</button>
    </div>
}
