@{
    ViewBag.Title = "View Listing";
}

@section Styles {
    <link href="~/Styles/ViewListing.css" rel="stylesheet" type="text/css" />
}

<h2>View listing</h2>

@using (Html.BeginForm())
{
    <div id="container">
        <div class="parent" id="search">
            <input type="text" id="city" placeholder="City"/>
            <input type="text" id="province" placeholder="Province"/>
            <input type="text" id="minPrice" placeholder="Min Price"/>
            <input type="text" id="maxPrice" placeholder="Max Price"/>
            <input type="text" id="beds" placeholder="Bedrooms"/>
            <input type="text" id="baths" placeholder="Bathrooms"/>
            <input type="text" id="sort" placeholder="Sort By"/>
            <input type="submit" id="btn_Search" value="Search" />
        </div>
        <div class="parent" id="results">
            <div class="listing">
                <img src="~/Images/logo.png" alt="listing_image" class="listing_img" />
                <div class="description_container">
                    <div class="description">
                        <section class="description_label">Listing Price:</section>
                        <section class="description_value">$200,000.00</section>
                    </div>
                    <div class="description">
                        <section class="description_label">Listing Agent:</section>
                        <section class="description_value">Joe Dirt</section>
                    </div>
                    <div class="description">
                        <section class="description_label">Square Footage:</section>
                        <section class="description_value">250 ft&sup2;</section>
                    </div>
                </div>
            </div>

            <div class="listing">
                <img src="~/Images/logo.png" alt="listing_image" class="listing_img" />
                <div class="description_container">
                    <div class="description">
                        <section class="description_label">Listing Price:</section>
                        <section class="description_value">$200,000.00</section>
                    </div>
                    <div class="description">
                        <section class="description_label">Listing Agent:</section>
                        <section class="description_value">Joe Dirt</section>
                    </div>
                    <div class="description">
                        <section class="description_label">Square Footage:</section>
                        <section class="description_value">250 ft&sup2;</section>
                    </div>
                </div>
            </div>

            <div class="listing">
                <img src="~/Images/logo.png" alt="listing_image" class="listing_img" />
                <div class="description_container">
                    <div class="description">
                        <section class="description_label">Listing Price:</section>
                        <section class="description_value">$200,000.00</section>
                    </div>
                    <div class="description">
                        <section class="description_label">Listing Agent:</section>
                        <section class="description_value">Joe Dirt</section>
                    </div>
                    <div class="description">
                        <section class="description_label">Square Footage:</section>
                        <section class="description_value">250 ft&sup2;</section>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
