
@{
    ViewBag.Title = "Index";
}

@section Styles {
    <link href="~/Styles/CreateAgent.css" rel="stylesheet" type="text/css" />
}

@using (Html.BeginForm())
{
    <h1>Create Agent</h1>
    <div class="parent">
        <div class="child">
            <div class="input_container">
                <label for="SIN">Social Insurance Number:</label>
                <input type="text" id="SIN" />
            </div>

            <div class="input_container">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" />
            </div>

            <div class="input_container">
                <label for="middleName">Middle Name:</label>
                <input type="text" id="middleName" />
            </div>

            <div class="input_container">
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" />
            </div>

            <div class="input_container">
                <label for="loggedInUserName">Logged In User Name:</label>
                <input type="text" id="loggedInUserName" />
            </div>

            <div class="input_container">
                <label for="streetAddress">Street Address:</label>
                <input type="text" id="streetAddress" />
            </div>

            <div class="input_container">
                <label for="city">City:</label>
                <input type="text" id="city" />
            </div>
        </div>
        <div class="child">
            <div class="input_container">
                <label for="province">Province:</label>
                <input type="text" id="province" />
            </div>

            <div class="input_container">
                <label for="postalCode">Postal Code:</label>
                <input type="text" id="postalCode" />
            </div>

            <div class="input_container">
                <label for="homePhone">Home Phone:</label>
                <input type="text" id="homePhone" />
            </div>

            <div class="input_container">
                <label for="cellPhone">Cell Phone:</label>
                <input type="text" id="cellPhone" />
            </div>

            <div class="input_container">
                <label for="officePhone">Office Phone:</label>
                <input type="text" id="officePhone" />
            </div>

            <div class="input_container">
                <label for="officeEmail">Office Email:</label>
                <input type="text" id="officeEmail" />
            </div>

            <div class="input_container">
                <label for="dateOfBirth">Date of Birth:</label>
                <input type="text" id="dateOfBirth" />
            </div>
        </div>
    </div>
    <button type="submit" id="btn_Create">Create</button>
}