
@{
    ViewBag.Title = "Index";
}

@section Styles {
    <link href="~/Styles/Home.css" rel="stylesheet" type="text/css" />
}

<link rel="stylesheet" type="text/css" href="~/Styles/Home.css" />
<h1 id="welcome">Welcome to Stellar Real Estate</h1>
<h1 id="stellar">Stellar Real Estate</h1>
<img src="~/Images/logo_with_slogan.png" alt="logo" id="home_img"/>
<h3>Stellar Real Estate facilitates the buying and selling of premium residential properties in New Brunswick. Our top-of-the-line agents will make certain that you receive the best possible price for your home. As for buyers, our online store has made it easier than ever before to become a homeowner.</h3>