body {
    background-color: #454545;
    color: #ffffff;
    text-align: center;
}

.navbar {
    background-color: #ffffff;
}

.navbar-brand {
    padding: 0;
}

.navbar-toggle {
    background-color: #454545 !important;
    border: none;
    border-radius: 10%;
    transition: background-color ease-in-out 200ms;
}

.navbar-toggle:hover {
    background-color: #616161 !important;
}

.nav-item {
    color: #616161 !important;
    text-align: center;
    transition: color ease-in-out 150ms;
}

.nav-item:hover {
    color: #262626 !important;
}

#logo {
    height: 100%;
    width: auto;
    padding: .2em .5em;
}

footer {
    text-align: center;
}

@media screen and (min-width: 768px) {
    ul {
        float: right !important;
    }
}